{% extends 'eabmodel/base.html' %}

{% block head %}
{% endblock %}

{% block content %}
    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">

    <!-- Portada -->
    <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
      <h1 class="w3-xxxlarge w3-text-red"><b>Rúbricas</b></h1>
      <hr style="width:50px;border:5px solid red" class="w3-round">
    </div>

    {% if user.is_admin %}
    <div class="w3-container">
      <a href="{% url 'rubrica:crear' %}" <button class="w3-button w3-large w3-red w3-right w3-round">Agregar nueva rúbrica</button></a><br>
    </div>
    {% endif %}
    <!--Seccion rubricas-->



    {% for rubric in rubrics %}
        <div>
          <button onclick="toggle({{ rubric.id }})" class="w3-btn w3-red w3-block w3-margin" style="width: 75%">
            <h3>{{ rubric.name }}</h3>
          </button>

            <div id="{{ rubric.id }}" class="w3-hide w3-container w3-pale-red w3-padding-large w3-margin" style="width: 75%">
              <div style="margin-left: 50px">

              {% if rubric.completed %}
                <li style="color: green">Rúbrica Válida
              {% else %}
              <li style="color: red"> Rúbrica Incompleta
               </li>
              {% endif %}

              <li> Creada el {{ rubric.created_at }} </li>
              <li> Última actualización {{ rubric.updated_at }}</li>
              <li>Tiempo Sugerido de Presentación: de {{ rubric.min_presentation_time|time}} a {{ rubric.max_presentation_time|time}} minutos</li>
              <li>Niveles de Cumplimiento: {{ rubric.n_compliance_lvl }}</li>
              <li>Aspectos: {{ rubric.n_evaluated_aspect }} </li>
                  {%  with rubric.rubric|aspects  as aspects %}
                    <ul style="margin-top: 5px;">
                    {%  for aspect in aspects %}
                        <li> {{ aspect }} </li>
                    {% endfor %}
                    </ul>
                  {% endwith %}
              </div>
            <br>
            <br>
              <div style="margin-left: 30px">

                <button class="w3-button w3-large w3-margin-right w3-red w3-left w3-round" onclick="location.href='{{ rubric.id }}/ver'">Ver</button>
                <button class="w3-button w3-large w3-red w3-left w3-round" onclick="location.href='{{ rubric.id}}/modificar'"> Modificar </button>
                <a href="{% url 'rubrica:remover' rubric.id %}" ><button class="w3-button w3-large w3-red w3-right w3-round">Eliminar</button></a>
              </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <script>
      function toggle(name) {
        let x = document.getElementById(String(name));
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else {
          x.className = x.className.replace(" w3-show", "");
        }
      }
    </script>

{% endblock %}