{% extends "eabmodel/base.html" %}

{% block subtitle %}Añadir evaluador{% endblock %}

{% block content %}

<body>
<link rel="stylesheet" type="text/css" href="./evaluacion.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">
  <!-- Photo grid (modal) -->

  <!-- Evaluacion -->
  <div class="w3-container" id="designers" style="margin-top:50px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Evaluación </b>
      {% if teamevaluation.is_active == True %}
      <i class="w3-text-green">en curso</i> </b></h1>
      {% else %}
      <i class="w3-text-orange">cerrada</i> </b></h1>
      {% endif %}
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <div class="w3-container w3-center">
    <p><b>{{ teamevaluation.team.name|title }}</b> Presentación {{ evaluation.name|title }} <i> {{ evaluation.course.code|upper }} / {{ evaluation.course.semester|title }} / {{ evaluation.course.year }}</i></p>
    <p><b>Fecha de inicio: <i>{{ evaluation.date|date:"SHORT_DATE_FORMAT" }}</i></p>
      <p><b>Fecha de término: <i>{{ evaluation.final_date|date:"SHORT_DATE_FORMAT" }}</i></p>
    <p><b>Tiempo de presentación: <i>{{ evaluation.presentation_time }}</i></p>
    <p><b> Rúbrica:<i> {{ evaluation.rubric.rubric }}</i></p>
      {% if teamevaluation.is_active == False or grades.count == 0 %}
      <!--<button class="w3-button w3-large w3-red w3-round" onclick="window.location.href="{{ evaluation.id }}/editRubric/" >Editar rúbrica</button>-->
        <a href="{% url 'evaluacion:editRubric' id=evaluation.id %}" >Editar rúbrica</a>
      {% endif %}
      <!--<ul id="rubricas">
        {% for rubric in rubrics %}
              <li class="w3-padding-16"><a href="google.com">rubric.rubric</a></li>
        {% endfor %}
        </ul> -->
      
    <br>

   <div class="w3-panel  w3-margin-bottom">
      <ul class="w3-ul w3-light-grey w3-center w3-card-4">
        <li class="w3-dark-grey w3-xlarge w3-padding-32">Evaluadores <i class="fas fa-user-tie"></i> </li>
          {% for evaluator in evaluators.all %}
              {% for grade in grades %}
                {% if evaluator.email == grades.evaluator.email %}
                  <li class=" w3-padding-16 presentado">{{ evaluator.email }} <i style="margin-left: 10px" class="far fa-check-circle"><i class="w3-small"> ya evaluó</i></i></li>
                {% else %}
                  <li class="w3-padding-16">{{ evaluator.email }} <button style="margin-left: 10px" class="w3-large fas fa-times"></button></li>
                {% endif %}
              {% endfor %}  
          {% endfor %}
        <button onclick="showEvaluators()" class="opcion w3-padding-16" style="width: 100%"> Agregar otro <i style="margin-left: 10px" class="fas fa-user-plus"></i></button>
      </ul>
    <form id=evaluadores action='.' method='POST'>{% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
    <input type='submit' value='Save' />
  </form>
  <script>document.getElementById("evaluadores").style.display = "none";</script>
    <br>
    </div>


<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>

</body>

    <script>
        var x = 0;
        function showEvaluators(){
            if(x == 0){
                document.getElementById("evaluadores").style.display="block";
                x = 1;
            }else{
                document.getElementById("evaluadores").style.display="none";
                x = 0;
            }
        }

        var y = 0;
        function editRubric(){
            if(x == 0){
                document.getElementById("rubricas").style.display="none";
                y = 1;
            }else{
                document.getElementById("rubricas").style.display="block";
                y = 0;
            }
        }
    </script>

{% endblock content %}
