{% extends "eabmodel/base.html" %}

{% block subtitle %}Evaluación{% endblock %}

{% block content %}

<body>
<link rel="stylesheet" type="text/css" href="./evaluacion.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Photo grid (modal) -->

  <!-- Evaluacion -->
  <div class="w3-container" id="designers" style="margin-top:50px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Evaluación <i class="w3-text-green">en curso</i> </b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <div class="w3-container w3-center">
    <p><b>{{ team }}</b> Presentación {{ stage }} <i>CC4401-1/Otoño/2019</i></p>
    <br>
    
    <div class="w3-panel  w3-margin-bottom">
      <ul class="w3-ul w3-light-grey w3-center w3-card-4">
        <li class="w3-dark-grey w3-xlarge w3-padding-32">Evaluadores <i class="fas fa-user-tie"></i> </li>
        <li class="w3-padding-16"> Evaluador 1 <i style="margin-left: 10px" class="w3-large fas fa-times"></i>
          </li>
        <li class=" w3-padding-16 presentado"> Evaluador 2 <i style="margin-left: 10px" class="far fa-check-circle"><i class="w3-small"> ya evaluó</i></i>
           </li>
        <li class="w3-padding-16"> Evaluador 3  <i style="margin-left: 10px" class="w3-large fas fa-times"></i></li> 
        <li class="opcion w3-padding-16"> Agregar otro <i style="margin-left: 10px" class="fas fa-user-plus"></i> 
           </li>
      </ul>
    </div>

      <div class="w3-row-padding" style="margin-top:30px">
        <div class="w3-half w3-margin-bottom ">
          <ul class="w3-ul w3-light-grey w3-center w3-card-4">
            <li class="w3-dark-grey w3-xlarge w3-padding-32">Miembros del equipo <i class="fas fa-user-friends"></i></li>

              {% for student in group %}
                  {% if student.1 %}
                    <li class="presentado w3-padding-16">{{ student.0 }} <i class="far fa-check-circle"></i> <i class="w3-small">ya presentó</i></li>
                  {% else %}
                    <li class="w3-padding-16">{{ student.0 }} <button class="fas fa-plus" onclick="return addPresenter('{{ student.0 }}')"></button></li>
                  {% endif %}
              {% endfor %}

          </ul>
        </div>
            
        <div class="w3-half w3-margin-bottom ">
          <ul class="w3-ul w3-light-grey w3-center w3-card-4">
            <li class="w3-dark-grey w3-xlarge w3-padding-32">Miembros que presentan <i class="fas fa-chalkboard-teacher"></i></li>

              {% for student in group %}
                <li class="w3-padding-16" style="display: none" id="{{ student.0 }}pres">{{ student.0 }} <button style="margin-left: 10px" class="w3-large fas fa-times" onclick="return notShow('{{ student.0 }}')"> </button> </li>
              {% endfor %}

            <li class=" opcion w3-padding-16" id="mas"> Agregar otro <i style="margin-left: 10px"  class="fas fa-user-plus"></i></li>
            
          </ul>
        </div>
      </div>

    <p>Seleccione el nivel de logro alcanzado por el grupo en cada ámbito</p> </div>

    <div id="option1" class="w3-panel w3-margin-bottom">
      <ul class="w3-ul w3-light-grey w3-center w3-card-4">
        <li class="w3-red w3-xlarge w3-padding-32">Contenidos<i class="far fa-check-circle"></i></li>
        <button class="opcion w3-padding-16" style="width:100%" onclick="buttonClick(1)"> No incluye las interfaces
            solicitadas
          </button>
        <button class="opcion w3-padding-16" style="width:100%" onclick="buttonClick(1)"> Faltan la mayoria de las
            interfaces
           </button>
        <button class="opcion w3-padding-16" style="width:100%" onclick="buttonClick(1)"> Solo faltan 1 o 2 interfaces </button>
        <button class="opcion w3-padding-16" style="width:100%" onclick="buttonClick(1)"> Incluye todas las interfaces
            solicitadas
           </button>
      </ul>
    </div>

      <div id="option2" class="w3-panel w3-margin-bottom">
        <ul class="w3-ul w3-light-grey w3-center w3-card-4">
          <li class="w3-red w3-xlarge w3-padding-32">Calidad del Material<i class="far fa-check-circle"></i></li>
          <button class="opcion w3-padding-16" style="width:100%" onclick="buttonClick(2)">Presentación con muchos
              errores ortográficos, todas
              las imágenes son de baja
              resolución
              </button>
          <button class="opcion w3-padding-16" style="width:100%" onclick="buttonClick(2)">Algunos errores
              ortográficos, casi todas las
              imágenes son de baja
              resolución
          </button>
          <button class="opcion w3-padding-16" style="width:100%" onclick="buttonClick(2)">Pocos errores ortográficos,solo algunas imágenes sonde baja resolución
            </button>
          <button class="opcion w3-padding-16" style="width:100%" onclick="buttonClick(2)">Pocos errores ortográficos,
              todas las imágenes son de
              buena resolución
              </button>
        </ul>
      </div>

      <div id ="option3" class="w3-panel w3-margin-bottom">
        <ul class="w3-ul w3-light-grey w3-center w3-card-4">
          <li class="w3-red w3-xlarge w3-padding-32">Relación con requisitos funcionales<i class="far fa-check-circle"></i>
              
            </li>
          <button class="opcion w3-padding-16" style="width:100%" onclick="buttonClick(3)">Solo describe las
              interfaces, sin mencionar
              requisito alguno
              
              </button>
          <button class="opcion w3-padding-16" style="width:100%" onclick="buttonClick(3)">Solo para algunas de las
              interfaces explica cómo
              satisfacen los requisitos
              funcionales
              
              </button>
          <button class="opcion w3-padding-16" style="width:100%" onclick="buttonClick(3)">Para casi todas las
              interfaces, explica cómo
              satisfacen los requisitos
              funcionales
              </button>
          <button class="opcion w3-padding-16" style="width:100%" onclick="buttonClick(3)">Explica claramente como
              cada interfaz satisface los
              requisitos funcionales
              
              </button>
        </ul>
      </div>

      <div id="option4" class="w3-panel w3-margin-bottom">
          <ul class="w3-ul w3-light-grey w3-center w3-card-4">
            <li class="w3-red w3-xlarge w3-padding-32">Organización de la información<i class="far fa-check-circle"></i>
                
              </li>
            <button class="opcion w3-padding-16" style="width:100%" onclick="buttonClick(4)">No se entiende la
                presentación porque no haysecuencia lógica de
                información               
                </button>
            <button class="opcion w3-padding-16" style="width:100%" onclick="buttonClick(4)">Es difícil seguir la
                presentación, porque el
                presentador “salta” entre
                diapositivas
                
                </button>
            <button class="opcion w3-padding-16" style="width:100%" onclick="buttonClick(4)">La información está
                presentada en una
                secuencia lógica
                
                </button>
            <button class="opcion w3-padding-16" style="width:100%" onclick="buttonClick(4)">La información es
                presentada en una forma
                lógica e interesante                
                
                </button>
          </ul>
        </div>

        <div id="option5" class="w3-panel w3-margin-bottom">
            <ul class="w3-ul w3-light-grey w3-center w3-card-4">
              <li class="w3-red w3-xlarge w3-padding-32">Forma<i class="far fa-check-circle"></i>
                  
                </li>
              <button class="opcion w3-padding-16" style="width:100%" onclick="buttonClick(5)">No se entiende lo que dice(en términos fonéticos y
                  cinéticos)
                     
                  </button>
              <button class="opcion w3-padding-16" style="width:100%" onclick="buttonClick(5)">Se entiende lo que dice la
                  de manera parcial (su
                  cuerpo no acompaña sus
                  palabras)
                  
                  </button>
              <button class="opcion w3-padding-16" style="width:100%" onclick="buttonClick(5)">Se da a entender,
                  presentando de manera
                  eficiente y adecuado
                  lenguaje corporal
                  
                  </button>
              <button class="opcion w3-padding-16" style="width:100%" onclick="buttonClick(5)">Se da a entender siempre,
                  destacando en su forma
                  (pausas, dicción, contacto
                  visual, gesticulación, otros)
                  
                  </button>
            </ul>
          </div>

          <div id="option6" class="w3-panel w3-margin-bottom">
              <ul class="w3-ul w3-light-grey w3-center w3-card-4">
                <li class="w3-red w3-xlarge w3-padding-32">Entusiasmo<i class="far fa-check-circle"></i>
                    
                  </li>
                <button class="opcion w3-padding-16" style="width:100%" onclick="buttonClick(6)">No muestra interés en su
                    entrega
                    
                    </button>
                <button class="opcion w3-padding-16" style="width:100%" onclick="buttonClick(6)">Se muestra algo negativo
                    acerca de su entrega
                    
                    </button>
                <button class="opcion w3-padding-16" style="width:100%" onclick="buttonClick(6)">Ocasionalmente habla en
                    forma positiva
                  
                    </button>
                <button class="opcion w3-padding-16" style="width:100%" onclick="buttonClick(6)">Habla en forma positiva
                    durante casi toda la
                    presentación                    
                    </button>
              </ul>
            </div>

            <div class="w3-panel w3-margin-bottom w3-card-4 w3-padding-16 w3-half w3-right" style="margin-right: 1.8%">
                <span style="margin-left:21%"><i class="far fa-clock"></i> Hora final 
                <input class="w3-input w3-border w3-round" type="number" size="1" placeholder="15" style="width:15%; display:inline; margin-left: 10px"> : <input class="w3-input w3-border w3-round" style="width:15%; display:inline" type="number" placeholder="35"></span>
            </div>

            <div class="w3-panel w3-right w3-half">
                <button class="w3-button w3-xlarge w3-red" style="margin-left: 15%" onclick="validate(6)"> <i class="fas fa-envelope-open-text"></i> Entregar evaluación</button>
            </div>
  </div>
  

  

  

<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>

</body>

    <script>
    var presenters = [];
    function addPresenter(name){
        var idSt = name + "pres";
        var student = document.getElementById(idSt);
        student.style.display = "block";
        if(! presenters.includes(name)){
            presenters.push(name);
        }
    }
    function notShow(name){
        var idSt = name + "pres";
        var student = document.getElementById(idSt);
        student.style.display = "none";
        presenters = presenters.filter(function(ele){
            return name.localeCompare(ele);
        });
    }

    function submitButtonStyle(_this) {
      _this.style.backgroundColor = "red";
    }

    var selectedOptions = [];
    function buttonClick(param){
        var text = "#option" + param.toString() + " :button";
        $(text).click(function(){
            $(text).css("background-color","#DDDDDD");
            $(this).css("background-color","#31BE00");
            addToSelec(param,$(this).text());
        })
    }

    function addToSelec(par,text){
        var i = 0;
        for(i; i < selectedOptions.length; i++){
            if(selectedOptions[i][0] === par){
                selectedOptions[i][1] = text;
                return;
            }
        }
        selectedOptions.push([par,text]);
    }

    function validate(num){
        var ready = [];
        var notReady =[];
        var j = 0;
        for(j; j < selectedOptions.length; j++){
            ready.push(selectedOptions[j][0]);
        }
        for(j=1; j <= num; j++){
            if(!ready.includes(j)){
                notReady.push(j);
            }
        }
        var alertOf = [];
        for(j=0; j < notReady.length; j++){
            var search = "#option" + notReady[j].toString();
            var modify = $(search).find("li");
            modify.removeClass("w3-red");
            modify.addClass("w3-orange");
            var text = modify.contents().filter(function(){
              return this.nodeType == 3;
            })[0].nodeValue;
            alertOf.push(text);
            modify.html(text + '<i class="fas fa-exclamation-circle"></i><i class="w3-medium"> falta seleccionar</i>');
        }
        var toShow = "";
        for(j=0; j < alertOf.length; j++){
            toShow = toShow + alertOf[j] + ", ";
        }
        var toShow2 = toShow.slice(0, toShow.length-2);
        alert("No haz completado los campos: " + toShow2);
    }
    /*$("#firstOption :button").click(function(){
        $(this).append("selfie");
    });*/

    </script>

{% endblock content %}