{% extends "eabmodel/base.html" %}

{% block subtitle %}Post Evaluación{% endblock %}

{% block content %}

<body>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">

      <!-- Photo grid (modal) -->

      <!-- Evaluacion -->
      <div class="w3-container" id="designers" style="margin-top:50px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Evaluación <i class="w3-text-blue">entregada</i> </b></h1>
        <i class="w3-large w3-text-green"><i class="far fa-clock"></i> Aún activa </i>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <div class="w3-container w3-center">
        <p><b>{{ team }}</b> Presentación {{ stage }}<i> {{ codigoCurso }}</i></p>
        <p><i class="w3-text-blue">Su operación se ha procesado exitosamente!</i></p> </div>

        <div class="w3-container">
                <h4><b>Resumen de evaluación</b></h4>
                {% for aspect in scores %}
                <p>{{ aspect.0 }}</p>
                <div class="w3-grey">
                    {% if aspect.1 <= 10 %}
                        <div class="w3-container w3-center w3-padding w3-red" style="width:10%">{{ aspect.1 }}%</div>
                    {% elif aspect.1 <= 25 %}
                        <div class="w3-container w3-center w3-padding w3-red" style="width:{{ aspect.1 }}%">{{ aspect.1 }}%</div>
                    {% elif aspect.1 <= 50 %}
                        <div class="w3-container w3-center w3-padding w3-orange" style="width:{{ aspect.1 }}%">{{ aspect.1 }}%</div>
                    {% elif aspect.1 <= 75 %}
                        <div class="w3-container w3-center w3-padding w3-green" style="width:{{ aspect.1 }}%">{{ aspect.1 }}%</div>
                    {% else %}
                        <div class="w3-container w3-center w3-padding w3-blue" style="width:{{ aspect.1 }}%">{{ aspect.1 }}%</div>
                    {% endif %}
                </div>
                {% endfor %}


                {% if time_discount %}
                    <div class="w3-container w3-center">
                        <p class="w3-text-red"><b>El equipo realizó la presentación en {{ less_time }} segundos {{ infraction }} que el tiempo {{ infraction2 }} establecido</b></p>
                    </div>
                {% endif %}


                <div class="w3-row-padding" style="margin-top:100px">
                    <div class="w3-half w3-margin-bottom ">
                        <ul class="w3-ul w3-light-grey w3-center w3-card-4">
                          <li class="w3-red w3-xlarge w3-padding-32">Equipos pendientes<i style="margin-left: 10px" class="fas fa-user-friends"></i><br> <i class="w3-small">Comience una nueva evaluación...</i></li>
                          {% for team in left_teams %}
                            <li class="opcion w3-padding-16">{{ team.0 }} <button style="margin-left: 10px" class="w3-xlarge fas fa-play-circle" onclick="evaluateGroup({{ team.1 }})"></button></li>
                          {% endfor %}
                        </ul>
                    </div>
                    <div class="w3-half" >
                        <button class="w3-button w3-xlarge w3-red w3-margin-bottom" style="margin-left: 17%" onclick="location.href='evaluacion.html'"> <i class="fas fa-pen"></i>  Editar evaluación</button>
                        <button disabled class="w3-btn w3-xlarge w3-dark-grey" style="margin-left: 15%" > <i class="fas fa-door-open"></i> Exportar resultados</button>

                    </div>
                </div>


      </div>






    <!-- End page content -->
    </div>

    <!-- W3.CSS Container -->
    <div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>
    </div>

</body>

    <script>
        function evaluateGroup(id){
            dataToSend = {};
            dataToSend.team = id;
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function(){
                if (this.readyState == 4){
                    if(this.status == 200){
                        window.location.replace("http://localhost:8000/evaluacion/evalAdmin/{{ stage }}/{{ course }}/{{ section }}/{{ semester_code }}/{{ year }}/" + id.toString());
                    }
                    else{
                        alert("Falló la creación de la evaluación. Por favor intente nuevamente.")
                    }

                }
            };
            xhttp.open('POST', '/evaluacion/postEvalAdmin/{{ stage }}/{{ course }}/{{ section }}/{{ semester_code }}/{{ year }}/{{ team_id }}', true);
            xhttp.setRequestHeader('Content-Type', 'text/plain; charset="utf-8"');
            xhttp.send(JSON.stringify(dataToSend));
        }


    </script>

{% endblock content %}