{% extends 'eabmodel/base.html' %}
{#{% load static %}#}


{% block head %}
{% endblock %}

{% block content %}
    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">

    <!-- W3.CSS Container -->
    <div class="w3-light-grey w3-container w3-padding-16" style="margin-top:50px;padding-right:58px">
      <div class="bottom" id="contact" style="margin-top:50px>
        <h1 class="w3-xxlarge w3-text-red"><b>Contacto.</b ></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <p>¿Dudas? ¿Sugerencias? ¿Reclamos?</p>
          <p>No dude en contactarnos</p>
        <form action="/action_page.php" target="_blank">
          <div class="w3-section">
            <label>Nombre</label>
            <input class="w3-input w3-border" type="text" name="Name" required>
          </div>
          <div class="w3-section">
            <label>Email</label>
            <input class="w3-input w3-border" type="text" name="Email" required>
          </div>
          <div class="w3-section">
            <label>Mensaje</label>
            <input class="w3-input w3-border" type="text" name="Message" required>
          </div>
          <button type="submit" class="w3-button w3-red w3-margin-bottom">Enviar</button>
        </form>
      </div>
    </div>
        <p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p>
    </div>

{% endblock %}
