{% extends 'eabmodel/base.html' %}
{% load widget_tweaks %}
{% block head %}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <style>
    table {
    border-collapse: collapse;
    }

    table, th, td {
      border: 1px solid black;
      text-align: left;
      padding: 3px;
    }

    #eliminar-msg {
      padding: 50px 0 50px 0;
    }
  </style>
{% endblock %}



{% block content %}
  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Portada -->
  <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Cursos</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p><h3>Seleccione un curso</h3></p></h2>
  </div>

  <!-- Caja de Cursos -->
  <div class="w3-row-padding w3-center w3-margin-top">
    <!--Caja de agregar-->
  {% if user.is_admin %}
    <div class="w3-quarter w3-margin-top">
      <button onclick="document.getElementById('agregar').style.display='block'" class="w3-card w3-container w3-hover-shadow w3-light-gray" style="max-height:380px;min-height: 317px; width:200px">
        <h3 style="top: 0px">Agregar curso</h3><br><i class="fas fa-plus" style="font-size:100px"> </i>
      </button>
    </div>
  {% endif %}



    {%  for course in course_list %}
      <!--Caja Ejemplo -->
      <div id="{{ course.id }}"  class="w3-quarter w3-margin-top">
        <button onclick="document.getElementById('gestionar').style.display='block'" class="w3-card w3-container w3-hover-shadow w3-light-gray" style="max-height:380px;min-height: 317px; width:200px">
          <h3><span id="{{ course.id }}-name">{{ course.name }} </span></h3> <br> <i class="fas fa-book" style="font-size:100px"></i>
          <p> <span id="{{ course.id }}-code"> {{ course.code }}-{{ course.section }} </span> </p>
          <p> <span id="{{ course.id }}-year">{{ course.year }} </span>  <span id="{{ course.id }}-semester">{{ course.semester }} </span> </p>
          {% if user.is_admin %}
          <button class="w3-btn w3-red" onclick="modificarCourse(event)">Modificar</button>
          <button class="w3-btn w3-red" onclick="removeCourseConfirmation(event)"> Eliminar</button>
          {% endif %}
        </button>
      </div>
    {% endfor %}

    <!--Agregar -->
  {% if user.is_admin %}
    <div id="agregar" class="w3-modal" {% if form.errors %} style="display:block !important {% endif %}">
      <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
        <div class="w3-center">
          <br>
          <span onclick="document.getElementById('agregar').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
            <form class="w3-container" action="{% url 'main:add_course' %}" method='post'>
              {% csrf_token %}
{#              {{ form.as_ul }}#}
              <div class="w3-section">
                {{ form.non_field_errors }}
                {{ form.name.errors }}
                <label for="{{ form.name.id_for_label }}"><b>Nombre Curso:</b></label>
                {% render_field form.name class+="w3-input w3-border w3-margin-bottom" placeholder=form.name.label %}
                {#                {{ form.name }}#}
                {{ form.code.errors }}
                <label for="{{ form.code.id_for_label }}"><b>Código:</b></label>
{#                {{ form.code }}#}
                {% render_field form.code class+="w3-input w3-border w3-margin-bottom" placeholder=form.code.label %}
                {{ form.section.errors }}
                <label for="{{ form.section.id_for_label }}"><b> Sección </b></label>
{#                {{ form.section}}#}
                  {% render_field form.section class+="w3-input w3-border w3-margin-bottom" placeholder=form.section.label %}
                {{ form.year.errors }}
                <label for="{{ form.year.id_for_label }}"><b>Año</b></label>
{#                {{ form.year}}#}
                  {% render_field form.year class+="w3-input w3-border w3-margin-bottom"%}
                {{ form.semester.errors }}
                <label for="{{ form.semester.id_for_label }}"><b>Semestre</b></label>
{#                {{ form.semester}}#}
                  {% render_field form.semester class+="w3-input w3-border w3-margin-bottom"  %}
              </div>
              <input class="w3-button w3-block w3-red w3-section w3-padding"  type='submit' name='next' value="Añadir Curso +" />
            </form>
        </div>
      </div>
    </div><!-- cierra de agregar -->
    <div id="modificar" class="w3-modal" {% if modify_form.errors %} style="display:block !important" {% endif %}>
      <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
        <div class="w3-center">
          <br>
          <span onclick="document.getElementById('modificar').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
            <h2>Modificar Curso</h2>

            <form id="modificar-form" class="w3-container" action="{% url 'main:modify_course' %}" method='post'>
              {% csrf_token %}
{#              {{ form.as_ul }}#}
              <div class="w3-section">
                {{ modify_form.non_field_errors }}
                {{ modify_form.name.errors }}
                <label for="{{ modify_form.name.id_for_label }}"><b>Nombre Curso:</b></label>
                {% render_field modify_form.name class+="w3-input w3-border w3-margin-bottom" placeholder=modify_form.name.label %}
                {#                {{ form.name }}#}
                {{ form.code.errors }}
                <label for="{{ form.code.id_for_label }}"><b>Código:</b></label>
{#                {{ form.code }}#}
                {% render_field modify_form.code class+="w3-input w3-border w3-margin-bottom" placeholder=modify_form.code.label %}
                {{ modify_form.section.errors }}
                <label for="{{ modify_form.section.id_for_label }}"><b> Sección </b></label>
{#                {{ form.section}}#}
                  {% render_field modify_form.section class+="w3-input w3-border w3-margin-bottom" placeholder=modify_form.section.label %}
                {{ modify_form.year.errors }}
                <label for="{{ modify_form.year.id_for_label }}"><b>Año</b></label>
{#                {{ form.year}}#}
                  {% render_field modify_form.year class+="w3-input w3-border w3-margin-bottom"%}

                {{ modify_form.semester.errors }}
                <label for="{{ modify_form.semester.id_for_label }}"><b>Semestre</b></label>
{#                {{ form.semester}}#}
                  {% render_field modify_form.semester class+="w3-input w3-border w3-margin-bottom"  %}

              </div>
              <input class="w3-button w3-block w3-red w3-section w3-padding"  type='submit' name='next' value="Modificar Curso +" />
            </form>
        </div>
      </div>
    </div><!-- cierra de modificar -->

    <!-- eliminar -->
    <div id="eliminar" class="w3-modal">
      <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px; min-height: 400px">
        <div id="eliminar-msg" class="w3-center">
          <span onclick="document.getElementById('eliminar').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
            <h5 id="eliminar-text"></h5>
            <table style="margin:auto">
              <tr>
                <td>Nombre:</td>
                <td><span id="eliminar-text-name"></span></td>
              </tr>
              <tr>
                <td>Código:</td>
                <td><span id="eliminar-text-code"></span></td>
              </tr>
              <tr>
                <td>Año:</td>
                <td><span id="eliminar-text-year"></span></td>
              </tr>
              <tr>
                <td>Semestre:</td>
                <td><span id="eliminar-text-semester"></span></td>
              </tr>
            </table>
            <form class="w3-container" action="{% url 'main:remove_course' %}" method='post'>
                {% csrf_token %}
                <label for="id_id" type="hidden"></label>
                <input type="hidden" id="id_id" name="id" value="0">

            <input class="w3-button w3-red" style="margin:20px auto 0 auto" type='submit' name='next' value="Eliminar" />
            </form>
        </div>
      </div>
    </div> <!-- cierre de eliminar curso -->


  {% comment %}  <div id="modificar" class="w3-modal">
      <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px; min-height: 400px">
        <div id="modificar-msg" class="w3-center">
        </div>
      </div>
    </div>
  {% endcomment %}


  {% endif %}


    {% if added_msg %}
      <!-- Succesfully added message -->
      <div id="msg" class="w3-modal" style="display: block">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px; min-height: 400px">
          <div class="w3-center">
            <span onclick="$('#msg').hide()" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
            <br>
            <h5>
            Curso Añadido Exitosamente!
            </h5>
            <table style="margin:auto">
            <tr>
                <td>Nombre:</td>
                <td><span> {{ added_course.name}} </span></td>
              </tr>
              <tr>
                <td>Código:</td>
                <td><span> {{ added_course.code }}</span></td>
              </tr>
              <tr>
                <td>Sección:</td>
                <td><span> {{ added_course.section }} </span></td>
              </tr>
              <tr>
                <td>Año:</td>
                <td><span>{{ added_course.year }}</span></td>
              </tr>

              <tr>
                <td>Semestre:</td>
                <td><span>{{ added_course.semester }} </span></td>
              </tr>


            </table>
            <button class="w3-button w3-red" style="margin:20px auto 0 auto"  onclick="$('#msg').hide(); $('#agregar').show()"> Añadir Nuevo </button>
          </div>
        </div>
      </div>
      <!--close added message -->

  {% endif %}

  </div><!--cierre de cajas de cursos-->
  </div>

{% endblock %}


{% block footer %}

  <script>
    function removeCourseConfirmation(e){
      let id = e.target.parentNode.id;
      $('#id_id').val(id);
      let name = $('#'+id+'-name').text();
      $('#eliminar-text-name').text(name);
      $('#eliminar-text-code').text($('#'+id+'-code').text());
      $('#eliminar-text-year').text($('#'+id+'-year').text());
      $('#eliminar-text-semester').text($('#'+id+'-semester').text());
      $('#eliminar-text').text( "Seguro deseas eliminar el curso " + name + "?");
      $('#eliminar').attr('style', 'display: block');;
      }


      function  modificarCourse(e) {
        let id = e.target.parentNode.id;

        $('#id_id').val(id);
        let name = $('#'+id+'-name').text();
        let code = $('#'+id+'-code').text();
        let c = code.split('-')[0].replace(" ","");
        let s = code.split('-')[1].replace(" ","");
        console.log(c);
        console.log(s);

        $('#modificar-form').attr("action", "{% url 'main:modify_course' %}/"+id);
        $('#id_modificar-name').val(name);
        $('#id_modificar-code').val(c);
        $('#id_modificar-section').val(s);

        $('#id_modificar-year').val($('#'+id+'-year').text().replace(" ",""));
        $('#id_modificar-semester').val($('#'+id+'-semester').text().replace(" ",""));

        $('#modificar').attr('style', 'display: block');



        {#$('#eliminar-text').text( "Seguro deseas eliminar el curso " + name + "?");#}
      }
  </script>

{% endblock %}